<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yahoo.mobileacademy.carpool"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<permission android:protectionLevel="signature"
	    android:name="com.yahoo.mobileacademy.carpool.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.yahoo.mobileacademy.carpool.permission.C2D_MESSAGE" />
	
    <application
        android:name="com.yahoo.mobileacademy.carpool.apps.CarpoolApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >        
    
       	<service android:name="com.parse.PushService" />
		<receiver android:name="com.parse.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.yahoo.mobileacademy.carpool" />
			</intent-filter>
		</receiver>
        
        <activity
            android:name="com.yahoo.mobileacademy.carpool.activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yahoo.mobileacademy.carpool.activities.RoleSelectionActivity"
            android:label="@string/title_activity_role_selection" >
        </activity>
        <activity
            android:name="com.yahoo.mobileacademy.carpool.activities.DriverActivity"
            android:label="@string/title_activity_driver" >
        </activity>
        <activity
            android:name="com.yahoo.mobileacademy.carpool.activities.PassengerActivity"
            android:label="@string/title_activity_passenger" >
        </activity>
    </application>

</manifest>
